.chatWindow {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  &__messages {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
    max-height: 500px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cccccc;
      border-radius: 3px;
    }
  }
}
