.form {
  display: flex;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

  &__textarea {
    flex: 1;
    height: 40px;
    padding: 10px;
    max-height: 150px;

    border: 1px solid #495972;
    border-radius: 5px 0 0 5px;

    background-color: #495972;

    font-size: 16px;
    color: #ffffff;

    outline: none;
    resize: none;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cccccc;
      border-radius: 3px;
    }
  }

  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;

    background-color: #00ac83;
    background-image: url('../../icons/send_white_24dp.svg');
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #0056b3;
    }
  }
}
