.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #292f3f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
